@use "../../styles/variables.scss" as *;

.article-title {
  flex: 1;
  margin: 0;
}

.article-title-container {
  display: flex;
  align-items: end;
}

.article-title-history {
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}


@media (max-width: $mobileBreakpoint) {
  .article-title-container {
    flex-direction: column;
    align-items: start;
  }

  .article-title-history {
    margin-top: 1rem;
  }
}
